<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/pages/auth.css">
    @*<link rel="stylesheet" href="~/css/loading.css" />*@
    <script src="~/js/site.js" type="text/javascript"></script>
</head>
<body>
    @*<div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">*@
        <div id="auth">
            @RenderBody()
        </div>
    @*</div>*@
</body>
</html>
