@model ArtGallery.ViewModel.System.Users.RegisterRequest
@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Register-Admin";
}
<div class="row h-100">
    <div class="col-lg-7 col-sm-12 col-md-9 col-12">
        <div id="auth-left">
            <h1 class="auth-title mt-2">Sign Up.</h1>   
            <form asp-action="Register" asp-controller="Accounts" method="post" class="mt-5">
                <span class="text-danger">@Html.ValidationMessage("registerMessage")</span>
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="Name" type="text" class="form-control form-control" placeholder="Username">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="Password" type="password" class="form-control form-control" placeholder="Password">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="ConfirmPassword" type="password" class="form-control form-control" placeholder="Confirm Password">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <span asp-validation-for="FullName" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="FullName" type="text" class="form-control form-control" placeholder="Full Name">
                    <div class="form-control-icon">
                        <i class="bi bi-person-plus"></i>
                    </div>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <span style="margin-right:.4rem;">Gender :</span>
                    <input type="radio" name="gender" value="Male">
                    <label style="margin-right:1.4rem;">Male</label>
                    <input type="radio" name="gender" value="Female">
                    <label>Female</label>
                </div>
                <span asp-validation-for="DOB" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="DOB" type="date" class="form-control form-control" placeholder="Day of birth">
                    <div class="form-control-icon">
                        <i class="bi bi-calendar-date"></i>
                    </div>
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="Address" type="text" class="form-control form-control" placeholder="Address">
                    <div class="form-control-icon">
                        <i class="bi bi-house-fill"></i>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="Email" type="email" class="form-control form-control" placeholder="Email">
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input asp-for="PhoneNumber" type="text" class="form-control form-control" placeholder="Phone Number">
                    <div class="form-control-icon">
                        <i class="bi bi-telephone"></i>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit">Sign Up</button>
            </form>
            <div class="text-center mt-5 text-lg fs-4">
                <p style="font-size: 1.2rem;" class='text-gray-600'>
                    Already have an account? <a asp-action="Login" asp-controller="Accounts" class="font-bold"> Log in
                    </a>.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-3 col-12 d-none d-lg-block">
        <div id="auth-right">
        </div>
    </div>
</div>
