@using ArtGallery.ViewModel.Catalog.Email
@model ForgotPasswordModelView
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--middle content-->
<div id="container">
    <div class="container">
        <div class="row">
            <!--left sidebar---->
            <aside class="col-sm-3 left-sidebar">
                <div class="box category">
                    <div class="box-heading">
                        <h3>@ViewData["Title"] <i class="fa fa-angle-up"></i></h3>
                    </div>
                    <div class="box-content test">
                        <div class="box-category">
                            <ul class="menu">
                                <li><a asp-action="Login" asp-controller="Users">Login</a></li>
                                <li><a asp-action="Register" asp-controller="Users">Register</a></li>
                                <li><a asp-action="ForgotPassword" asp-controller="Users">Forgotten Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!--main content-->
            <div id="content" class="col-sm-9">
                <ul class="breadcrumb">
                    <li><a asp-action="Home" asp-controller="Home"><i class="fa fa-home"></i></a></li>
                    <li><a asp-action="ForgotPassword" asp-controller="Users">Forgot Password</a></li>
                </ul>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well">
                            <div class="heading-text">
                                <i class="fa fa-file-text-o"></i>
                                <div class="extra-wrap">
                                    <h2>New Customer</h2>
                                    <strong>Register Account</strong>
                                    <hr />
                                </div>
                            </div>
                            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                            <a class="btn btn-custom" asp-action="Register" asp-controller="Users">Continue</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well">
                            <div class="heading-text">
                                <i class="fa fa-key"></i>
                                <h2>Forgot Password</h2>
                                <hr />
                            </div>
                            <form asp-action="ForgotPassword" asp-controller="Users" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">Input Your Username:</label>
                                    <input asp-for="UserName" class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                               <input type="submit" class="btn btn-custom" value="Send">
                            </form>
                            <div>
                                <h4 style="color:red;">@ViewBag.Message</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end main content-->
        </div>
    </div>
</div>
<!--End of middle content-->
