@{
    Layout = "_Layout1";
    ViewData["Title"] = "About Us";
}
<div style="padding:4px"></div>
<!-- About Us -->
<div class="container">
    <div class="about">
        <div class="inner-section">
            <h1>@ViewData["Title"]</h1>
            <p class="text">
                Art galleries offer a huge leap for every artist in their respective careers. That’s why artists of any type should not miss this exposure medium. OAG is an art gallery and creative agency that offers contemporary art, design, and creative services. It
                has an outstanding website design ready to inspire other agencies or art gallery businesses worldwide.
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
</div>
<!-- End of About Us -->
<div style="padding:4px"></div>
<!-- Team Members -->
<div class="container" style="text-align:center;">
    <div class="our-teams">
        <h1>Development Team</h1>
    </div>
    <div class="sub-container">
        <div class="teams">
            <img src="~/images/1.jpg" alt="">
            <div class="name">Do Van Chien</div>
            <div class="desig">Developer</div>
            <div class="social-links">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="~/images/2.jpg" alt="">
            <div class="name">Ngo Thai Vinh</div>
            <div class="desig">Designer</div>
            <div class="social-links">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="~/images/7.jpg" alt="">
            <div class="name">Pham Quoc Thang</div>
            <div class="desig">Manager</div>
            <div class="social-links">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</div>
<div style="padding:4px"></div>
<!-- End of Team Members -->