.post {
    font-family: "Poppins",sans-serif;
}

.content {
    margin-top: 10px;
}

.post p {
    font-size: 16px;
}

.post button {
    padding: 5px;
    background-color: #ff0268;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.post:not(:last-child) {
    margin-bottom: 5px;
}

.hide {
    display: none;
}
