/* About Us Css */
.about {
    background: url(../images/khan.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-section {
    width: 55%;
    float: right;
    background-color: #e6cccc;
    padding: 90px;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
}

    .inner-section h1 {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
        color: #E10302;
    }

.text {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-weight: 500;
}

.skills button {
    border: none;
    border-radius: 30px;
    padding: 14px;
    width: 180px;
    background-color: #E10302;
    cursor: pointer;
    transition: .4s;
}

    .skills button a {
        font-size: 18px;
        text-align: center;
        letter-spacing: 1.2px;
        font-weight: 600;
        color: #fdfdfdf0;
    }

    .skills button:hover {
        background-color: #333333;
    }

    .skills button a:hover {
        color: #fdfdfdf0;
    }

@media screen and (max-width:1200px) {
    .inner-section {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-section {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about {
        padding: 0;
    }

    .inner-section {
        padding: 60px;
    }

    .skills button {
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}

.our-teams {
    padding-top: 10px;
    color: #E10302;
    margin: auto;
}

    .our-teams h1 {
        font-size: 30px;
        font-weight: 900;
    }

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

    .teams img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

.name {
    padding: 14px;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}

.design {
    color: #888;
    font-size: 18px;
}

.social-links {
    margin: 14px;
}

    .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        transition: .4s;
    }

        .social-links a:hover {
            transform: scale(1.5);
        }

        .social-links a i {
            color: #444;
        }

.teams:hover {
    background: #ddd;
}

@media screen and (max-width: 1000px) {
    .teams {
        max-width: 100%;
    }
}

/* Contact Us Css */
.contact-us {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 42px;
}

    .contact-us .contact-box {
        max-width: 880px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    }

    .contact-us .left {
        background: url("../images/contact.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
    }

    .contact-us .right {
        padding: 25px 40px;
    }

    .contact-us h1 {
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 6px;
        color: #E10302;
        font-weight: 900;
        font-size: 30px;
    }

    .contact-us .field {
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 1rem 1rem;
        font-size: 14px;
        margin-bottom: 20px;
        transition: .3s;
    }

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-us textarea {
    min-height: 150px;
}

.contact-us .btn {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: #E10302;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

    .contact-us .btn:hover {
        background-color: #333333;
        color: #fff;
    }


/* .contact-us .btn:hover {
    background-color: #fff;
    color: #E10302;
} */

.contact-us .field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-us .contact-box {
        grid-template-columns: 1fr;
    }

    .contact-us .left {
        height: 200px;
    }
}

.map {
    width: 100%;
    height: 350px;
}