@model ArtGallery.ViewModel.Catalog.Auctions.UpdateAuctionRequest
@{
    ViewData["Title"] = "Update Auction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Update" asp-controller="Auctions" method="post">
    <div class="row">
        <div class="col-sm-10"><h2>@ViewData["Title"]</h2></div>
    </div>
    <br />
    <div class="form-group">
        <label class="col-sm-4 control-label" style="font-size: 20px; font-weight: 700;">Room Id</label>
        <div class="col-xs-8">
            <input readonly asp-for="Id" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" style="font-size: 20px; font-weight: 700;">Starting Price</label>
        <div class="col-xs-8">
            <input asp-for="StartingPrice" type="number" class="form-control">
            <span asp-validation-for="StartingPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" style="font-size: 20px; font-weight: 700;">Price Step</label>
        <div class="col-xs-8">
            <input asp-for="PriceStep" type="number" class="form-control">
            <span asp-validation-for="PriceStep" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" style="font-size: 20px; font-weight: 700;">Start DateTime</label>
        <div class="col-xs-8">
            <input asp-for="StartDateTime" class="form-control">
            <span asp-validation-for="StartDateTime" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" style="font-size: 20px; font-weight: 700;">End DateTime</label>
        <div class="col-xs-8">
            <input asp-for="EndDateTime" class="form-control">
            <span asp-validation-for="EndDateTime" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <br />
            <button class="btn btn-lg btn-success" type="submit">Save</button>
        </div>
    </div>
</form>