@model ArtGallery.Data.Entities.ProfileUser
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Update" asp-controller="Auctions" method="post">
    <h1>Winner Information</h1>
    <div class="form-group">
        <label class="col-sm-4 control-label">Id: <input style="border:none; outline:none" readonly asp-for="Id"></label>
        <label class="col-sm-4 control-label">Full Name: <input style="border:none; outline:none" readonly asp-for="FullName"></label>
        <label class="col-sm-4 control-label">Gender: <input style="border:none; outline:none" readonly asp-for="Gender"></label>
        <label class="col-sm-4 control-label">Address: <input style="border:none; outline:none" readonly asp-for="Address"></label>
        <label class="col-sm-4 control-label">Email:<input style="border:none; outline:none" readonly asp-for="Email"></label>
        <label class="col-sm-4 control-label">PhoneNumber: <input style="border:none; outline:none" readonly asp-for="PhoneNumber"></label>
        <label class="col-sm-4 control-label">Day Of Birth: <input style="border:none; outline:none" readonly asp-for="DOB"></label>
    </div>
</form>
<a asp-action="GetAll" asp-controller="Auctions">Back to list auction...</a>